# development
/package.json
/pack-lock.json
.husky/*
.copilotignore
.dev/

# Firebase cache
.firebase/

# Firebase log
firebase-debug.log

# Firebase config
# Uncomment this if you'd like others to create their own Firebase project.
# For a team working on the same Firebase project(s), it is recommended to leave
# it commented so all members can deploy to the same project(s) in .firebaserc.
.firebaserc

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.local
